@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #05445e;
  --secondary-color: #189ab4;
  --primary-accent-color: #75e6da;
  --secondary-accent-color: #d4f1f4;

  /* Text Colors */
  --primary-text-color: black;
  --secondary-text-color: gray;
}

body {
  background-color: #f7f7f7 !important;
}

ul {
  list-style: circle;
}

hr {
  background-color: var(--primary-color) !important;
  margin: 3em !important;
}

a {
  color: var(--primary-color) !important;
}

a:hover {
  color: var(--secondary-color) !important;
}

.btn-main {
  color: var(--secondary-accent-color) !important;
  background-color: var(--primary-color) !important;
}
.btn-main:hover {
  color: var(--primary-color) !important;
  background-color: var(--secondary-accent-color) !important;
}

.btn-alternate {
  color: var(--primary-color) !important;
  background-color: var(--secondary-color) !important;
}
.btn-alternate:hover {
  color: var(--secondary-accent-color) !important;
  background-color: var(--primary-color) !important;
}

/* Custom Text */
.primary-header {
  color: var(--primary-color);
}
.secondary-header {
  color: var(--secondary-text-color);
}

.Toastify__toast-theme--light {
  color: var(--secondary-accent-color) !important;
  background-color: var(--primary-color) !important;
}

.Toastify__close-button--light {
  color: var(--secondary-accent-color) !important;
}

.errorMessage {
  color: red;
}
